* {
  font-family: "Amazon Ember", Arial, sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: hotpink; */
}

header {
  margin-right: auto;
}

h3 {
  color: black;
}

h4 {
  font-size: 0.8rem;
  color: rgb(88, 88, 88);
}

.price-span {
  /* margin-left: 60%; */
  font-size: 0.9rem;
  font-weight: 800;
  color: rgb(82, 82, 82);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80vw;
  align-items: center;
}

#item-card {
  /* background-color: hotpink; */
  border: 1px solid rgb(199, 199, 199);
  width: 200px;
  height: 300px;
  margin: 1rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
#item-card * + * {
  margin-top: 5px;
}

#upload-item-form {
  width: 500px;
  /* background-color: hotpink; */
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-link {
  height: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */

  position: relative;
}

.item-image {
  width: 180px;
  /* max-width: 180px;
  height: auto;
  margin-left: 25%; */
}
/* .item-link img {
  max-width: 100px;
  height: auto;
} */

.item-details {
  /* align-self: flex-end; */
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 150px;
  /* text-align: center; */
}

#upload-item-form * {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  margin: 5px;
}
#upload-item-form label {
  width: 100px;
  align-items: center;
}

#upload-item-form input {
  height: 31px;
  padding: 3px 7px;
  line-height: normal;
  border: 1px solid #a6a6a6;
  border-top-color: #949494;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
  outline: 0;
}

#upload-item-form button {
  margin-left: auto;
  width: 150px;
  justify-content: center;
  margin-top: 20px;
  padding: 7px;
  letter-spacing: 1px;
  font-weight: 600;
  border: 1px solid #a88734;
  border-radius: 3px;
  color: inherit;
  cursor: pointer;
  background: none;
  background: rgb(247, 220, 156);
  background: linear-gradient(
    180deg,
    rgba(247, 220, 156, 1) 0%,
    rgba(255, 228, 162, 1) 12%,
    rgba(241, 195, 81, 1) 61%
  );

  border-color: #a88734 #9c7e31 #846a29;
}

.a-row > a.like-btn {
  color: rgb(0, 31, 116);
  background-color: rgb(238, 238, 238);
  border: 1px solid rgb(160, 160, 160);
  border-radius: 5px;
  padding: 5px;
}
